/* 언어설정 */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* reset CSS */
*{margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a{text-decoration: none;
color: #bbb;}
img {border: none;
    vertical-align: bottom;}

body {font-family: "Raleway", sans-serif;;}

/* 배경이미지 설정 */
.wrap {position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    min-width: 1024px;
    min-height: 768px;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-position: left bottom;}

/* section 설정 */
section {position: fixed;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;}
article {
    float: right;
    width: 12%;
    height: 100%;
    background-image: url(img/divider.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    overflow: hidden;
}
article h2 {
    position: absolute;
    top: 300px;
    left: 20px;
    padding-left: 15px;
    box-sizing: border-box;
    border-left: 3px solid #555;
    font-size: 20px;
    color: #666;
    transition: all 0.5s;
    z-index: 3;
}
article div {
    position: absolute;
    left: 0;
    top: 300px;
    width: 100%;
    height: 0; /*임시설정*/
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
    transition: all 0.5s;
}
article:hover div {
    height: 70px;
    top: 265px;

}
article:hover h2 {
    color: #ccc;
    border-left: 3px solid #ccc;
}

/* video 설정 */
article video {
    position: absolute;
    left: -500px;
    top: 0;
    height: 100%;
    width: auto;
    z-index: 1;
    opacity: 0;
}


/* article의 숨은 컨텐츠들을 설정 */
article h3 {
    position: absolute;
    font-size: 40px;
    bottom: 240px;
    text-align: right;
    width: 100%;
    color: #fff;
    z-index: 4;
    right: -310px;
}
article p {
    position: absolute;
    font-size: 25px;
    bottom: 50px;
    text-align: right;
    width: 300px;
    color: #fff;
    z-index: 5;
    right: -310px;
}
article img {
    
}

/* gnb 설정 */
.gnb {
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -120px;
    z-index: 999;
}

.gnb li {
    cursor: pointer;
    width: 200px;
    height: 60px;
    font-family: "Righteous", serif;
    font-size: 14px;
    border-top: 1px solid #111;
    box-sizing: border-box;
    text-align: right;
    opacity: 0.8;
    transition: all 0.5s;

}

.gnb li:hover {
    font-size: 24px;
    opacity: 1;
}

.gnb li:nth-child(1):hover {
    color: #d4164c;
    border-color: #d4164c;
}

.gnb li:nth-child(2):hover {
    color: #fff;
    border-color: #fff;
}

.gnb li:nth-child(3):hover {
    color: #ffec6a;
    border-color: #ffec6a;
}


.gnb li.on {
    font-size: 24px;
    opacity: 1;
}

.gnb li:nth-child(1).on {
    color: #d4164c;
    border-color: #d4164c;
}

.gnb li:nth-child(2).on {
    color: #fff;
    border-color: #fff;
}

.gnb li:nth-child(3).on {
    color: #ffec6a;
    border-color: #ffec6a;
}